/* -----
Responsive hover
----- */
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}


@mixin gradient-bg($gradient: (
  45deg,
  #ffffff -100%,
  $brandBlue 182%
)) {
  background: linear-gradient($gradient);
  animation: move-gradient 1s linear infinite;
}

@mixin gradient-bg-agent($gradient: (
  45deg,
  #ffffff -100%,
  $darkGrey 182%
)) {
  background: linear-gradient($gradient);
  animation: move-gradient 1s linear infinite;
}

@keyframes move-gradient {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@mixin gradient-border(
  $gradient: (
    45deg,
    #e1e1e1,
    #333333,
  ),
  $border-width: 1px,
  $border-radius: 10px
) {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - $border-width * 2);
    height: calc(100% - $border-width  * 2 );
    border: $border-width solid transparent;
    background: linear-gradient($gradient) border-box;
    mask:
      linear-gradient(#000 0 0) padding-box,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
  }
}

@mixin chat-panel {
  padding: px-to-vh(16) px-to-vh(24);
  width: 100%;
  backdrop-filter: blur(px-to-vh(20));
  background: rgba(37, 49, 75, 0.55);
  border-radius: px-to-vh(16);
  color: $lightBlue;
  position: relative; // Ensure this is added for the pseudo-element

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: calc(100% - px-to-vh(1));
    border-radius: px-to-vh(16);
    border: 1px solid transparent;
    background: linear-gradient(45deg, #4285f41a, #d9e7ff33) border-box;
    mask:
      linear-gradient(#000 0 0) padding-box,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
  }
}


// Example usage:
// height: px-to-vh(108, 'chromebook'); // This will output: height: 5vh;
@function px-to-vh($pixels, $device: 'chromebook') {
  @if $device != 'chromebook' {
    $vh-value: calc($pixels / 2160) * 100;
    @return #{$vh-value}vh;
  } @else {
    $vh-value: calc($pixels / 1080) * 100;
    @return #{$vh-value}vh;
  }
}

// Example usage:
// width: px-to-vw(108, 'chromebook'); // This will output: 5.625vw;
@function px-to-vw($pixels, $device: 'chromebook') {
  @if $device != 'chromebook' {
    $vw-value: calc($pixels / 3840) * 100;
    @return #{$vw-value}vw;
  } @else {
    $vw-value: calc($pixels / 1920) * 100;
    @return #{$vw-value}vw;
  }
}

@function min-px-to-vw($pixels, $device: 'chromebook') {
  @return max(px-to-vw($pixels, $device), #{$pixels}px);
}

@function min-px-to-vh($pixels, $device: 'chromebook') {
  @return max(px-to-vh($pixels, $device), #{$pixels}px);
}

