$darkmode: #e1e1e1;
$lightGreen: #d6ffe1;
$grey: #bebebe;
$darkGrey: #666666;
$brandYellow: #f4b400;
$brandRed: #ea4335;
$brandGreen: #34a853;
$brandBlue: #4285f4;
$darkBlue: #212735;
$shopperBlue: #BFD7FF;
$charcoal: #222222;
$lightBlue: #E8F0FE;