

/*----
  Shopping/Kayak/Drive
----*/
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 70deg;
  inherits: false;
}

@keyframes gradient-movement {
  0% {
    --gradient-angle: 70deg;
  }
  100% {
    --gradient-angle: 430deg;
  }
}

@mixin gradient-text {
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.kayak .gradient,
.kayak .gradient * {
  @include gradient-text;
  background-image: linear-gradient(var(--gradient-angle), #ffffff -100%, $brandGreen 182%);
  animation: gradient-movement 5s linear infinite;
}

.shopping .gradient,
.shopping .gradient * {
  @include gradient-text;
  background-image: linear-gradient(var(--gradient-angle), #ffffff -100%, $brandBlue 182%);
  animation: gradient-movement 5s linear infinite;
}

.drive .gradient,
.drive .gradient * {
  @include gradient-text;
  background-image: linear-gradient(var(--gradient-angle), #e37b24 27.65%, #f3b201 118.57%);
  animation: gradient-movement 5s linear infinite;
}

.kayak,
.shopping,
.drive {
  color: #fff;

  .text-bold-192 {
    font-weight: 700;
    font-size: px-to-vw(192);
    line-height: 1;
    letter-spacing: -0.03em;
  }
  

  .text-bold-128 {
    font-weight: 700;
    font-size: px-to-vw(128);
    line-height: 1.2;
    letter-spacing: -0.03em;
  }

  .text-bold-96 {
    font-weight: 700;
    font-size: px-to-vw(96);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-bold-80 {
    font-weight: 700;
    font-size: px-to-vw(80);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-bold-64 {
    font-weight: 700;
    font-size: px-to-vw(64);
    line-height: 1.15;
    letter-spacing: -0.03em;
  }

  .text-body-64 {
    font-weight: 400;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-bold-48 {
    font-weight: 700;
    font-size: px-to-vw(48);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-bold-40 {
    font-weight: 700;
    font-size: px-to-vw(40);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-bold-32 {
    font-weight: 700;
    font-size: px-to-vw(32);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-bold-24 {
    font-weight: 700;
    font-size: px-to-vw(24);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-bold-20 {
    font-weight: 700;
    font-size: px-to-vw(20);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-bold-18 {
    font-weight: 700;
    font-size: min-px-to-vw(18);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-bold-16 {
    font-weight: 700;
    font-size: min-px-to-vw(16);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-bold-14 {
    font-weight: 700;
    font-size: px-to-vw(14);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-medium-192 {
    font-weight: 500;
    font-size: px-to-vw(192);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-medium-128 {
    font-weight: 500;
    font-size: px-to-vw(128);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-medium-108 {
    font-weight: 500;
    font-size: px-to-vw(108);
    line-height: 1.2;
    letter-spacing: -0.03em;
  }

  .text-medium-80 {
    font-weight: 500;
    font-size: px-to-vw(80);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-medium-64 {
    font-weight: 500;
    font-size: px-to-vw(64);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-medium-48 {
    font-weight: 500;
    font-size: px-to-vw(48);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-medium-32 {
    font-weight: 500;
    font-size: px-to-vw(32);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-medium-28 {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-medium-24 {
    font-weight: 500;
    font-size: px-to-vw(24);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-medium-21 {
    font-weight: 500;
    font-size: px-to-vw(21);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-medium-18 {
    font-weight: 500;
    font-size: px-to-vw(18);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-medium-16 {
    font-weight: 500;
    font-size: px-to-vw(16);
    line-height: 1.2;
    letter-spacing: 0em;
  }
  .text-medium-14 {
    font-weight: 500;
    font-size: px-to-vw(14);
    line-height: 1.2;
    letter-spacing: 0em;
  }


  .text-body-192 {
    font-weight: 400;
    font-size: px-to-vw(192);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-body-128 {
    font-weight: 400;
    font-size: px-to-vw(128);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-body-80 {
    font-weight: 400;
    font-size: px-to-vw(80);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-body-64 {
    font-weight: 400;
    font-size: px-to-vw(64);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .text-body-48 {
    font-weight: 400;
    font-size: px-to-vw(48);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-body-32 {
    font-weight: 400;
    font-size: px-to-vw(32);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .text-body-24 {
    font-weight: 400;
    font-size: px-to-vw(24);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-body-20 {
    font-weight: 400;
    font-size: px-to-vw(20);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-body-18 {
    font-weight: 400;
    font-size: px-to-vw(18);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-body-16 {
    font-weight: 400;
    font-size: px-to-vw(16);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-body-12 {
    font-weight: 400;
    font-size: px-to-vw(12);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .text-tv-bold-53 {
    font-weight: 700;
    font-size: 53px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}

/*----
  Skeeball
----*/
.skeeball {
  color: #fff;
  paint-order: stroke fill;

  .text-tv-bold-630 {
    font-weight: 700;
    font-size: px-to-vw(630, "4k");
    line-height: 1;
    letter-spacing: -0.04em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6, '4k');
    -webkit-text-stroke-color: #000;
  }

  .text-tv-bold-420 {
    font-weight: 700;
    font-size: px-to-vw(420, "4k");
    line-height: 1;
    letter-spacing: -0.04em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6, '4k');
    -webkit-text-stroke-color: #000;
  }

  .text-tv-bold-160,
  .text-tv-bold-150 {
    font-weight: 700;
    font-size: px-to-vw(160, "4k");
    line-height: 1;
    letter-spacing: -0.03em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6, '4k');
    -webkit-text-stroke-color: #000;
  }

  .text-tv-bold-150 {
    font-size: px-to-vw(150);
  }

  .text-tv-bold-110-var {
    font-weight: 700;
    font-size: px-to-vw(110);
    line-height: 1;
    letter-spacing: -0.02em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6, '4k');
    -webkit-text-stroke-color: #000;
  }

  .text-tv-bold-96-var {
    font-weight: 900;
    font-size: px-to-vw(96);
    line-height: 1;
    letter-spacing: -0.02em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6, '4k');
    -webkit-text-stroke-color: #000;
  }

  .text-tv-bold-96 {
    font-weight: 700;
    font-size: px-to-vw(96, "4k");
    line-height: 1;
    letter-spacing: -0.02em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6, '4k');
    -webkit-text-stroke-color: #000;
  }

  .text-tv-bold-72 {
    font-weight: 700;
    font-size: px-to-vw(72, "4k");
    line-height: 1;
    letter-spacing: -0.03em;
    text-shadow: px-to-vw(6, "4k") px-to-vw(10, "4k") 0 #000;
    -webkit-text-stroke: px-to-vw(6, "4k");
    -webkit-text-stroke-color: #000;
  }

  .text-bold-80 {
    font-weight: 700;
    font-size: px-to-vw(80);
    line-height: 1.2;
    letter-spacing: 0em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6);
    -webkit-text-stroke-color: #000;
  }

  .text-mobile-bold-42 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: max(1px, 0.02em);
    -webkit-text-stroke-color: #000;
    paint-order: stroke fill;
  }
  .text-mobile-bold-24,
  .text-mobile-bold-15,
  .text-mobile-medium-15 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.012em;
    text-shadow: 0.06em 0.1em 0 #000;
    -webkit-text-stroke: max(1px, 0.02em);
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: max(1px, 0.02em);
    paint-order: stroke fill;
  }

  .text-mobile-medium-15 {
    font-weight: 500;
    line-height: 1.2;
  }

  .text-mobile-bold-24 {
    font-size: 24px;
  }

  .text-bold-48 {
    font-weight: 700;
    font-size: px-to-vw(48);
    line-height: 1;
    letter-spacing: -0.02em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6);
    -webkit-text-stroke-color: #000;
  }

  .text-bold-24 {
    font-weight: 700;
    font-size: min-px-to-vw(24);
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6);
    -webkit-text-stroke-color: #000;
  }

  .text-bold-18 {
    font-weight: 700;
    font-size: min-px-to-vw(18);
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-shadow: 0.05em 0.07em 0 #000;
    -webkit-text-stroke: px-to-vw(6);
    -webkit-text-stroke-color: #000;
  }
}
